body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

.myclass {
    margin: auto;
}

#navbar ul {
    list-style: none;
    text-align: right;
    position: fixed;
    width: 100%;
    background-color: #e0ebe8;
  }
  
#navbar ul li {
    display: inline-block;
    margin: 50px;
    margin-bottom: 10px;
    margin-top: 15px;
  }
  
a {
    color: #008080;
    text-decoration: none;
  }

#welcome-section{
    background-color:#e0ebe8;
    top:0;
    min-height: 600px;
    background-image: url(img/CatOnPiano.png);
    background-repeat: no-repeat;
    background-position: center center;

}

#welcome-section h1{
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 50px;
    line-height: 1.4em;
    position: absolute;
    top: 70px;
    left:40%;
}

#projects {
  text-decoration: none;
  color: #008080;
  display: inline-block;
  overflow: hidden;
  border: 2px solid lightblue;
}