body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

.myclass {
    margin: auto;
}

.clearfloat {
    clear:both;
}

a {
    color: #008080;
    text-decoration: none;
  }


#navbar ul {
    list-style: none;
    text-align: right;
    position: fixed;
    width: 100%;
    background-color: #e0ebe8;
  }
  
#navbar li {
    display: inline-block;
    margin: 50px;
    margin-bottom: 10px;
    margin-top: 15px;
  }

#welcome-section{
    background-color:#e0ebe8;
    min-height: 750px;
    background-image: url(img/CatOnPiano.png);
    background-repeat: no-repeat;
    background-position: center center;

}

#welcome-section h1{
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 50px;
    line-height: 1.4em;
    position: absolute;
    top: 70px;
    left:40%;
}

#projects {
    min-height: 550px;
    padding-top: 3%;
    padding-right: 10%;
    padding-left: 10%;
}
#projects h2 {
  color: #008080;
  font-size: 30px;
}

.projectImg {
    float: left;
    padding-top: 5px;
    padding-right: 5px;
}

#profile-link {
    background-color:#e0ebe8;
    min-height: 400px;
}

#profile-link h1 {
    color: #000080;
    font-size: 30px;
    position:relative; 
    top:100px;
    margin: 50px;
}

#profile-link ul {
    padding: 10px;
    list-style: none;
}

.contactLink:hover {
    color: aqua;
}

#profile-link li {
    font-size: 30px;
    position:relative; 
    top:100px;
    right:5px;
    margin: 50px;
    margin-bottom: 10px;
    margin-top: 15px;
  }
